.features__item {
  padding: .8rem 1.5rem;
  text-transform: uppercase;
}

.features__item:not(:last-child) {
  border-bottom: 1px solid;
}

@media (min-width: 596px) {
  .features__item {
    display: inline-block;
  }
  .features__item:not(:last-child) {
    border-bottom: none;
    border-right: 1px solid;
  }
}